body {
  height: 10000px;
  align-items: center;
}
#scrollPosition {
  position: fixed;
  padding-top: 900px;
  padding-left: 1400px;
}
#boston,
#empire,
#erewhon,
#target,
#magnoia,
#can {
  padding-left: 30em;
}

#postcard {
  padding-left: 10em;
}
#magnolia,
#getty {
  padding-left: 20em;
}
audio {
  padding-left: 40em;
}
p {
  padding-left: 50em;
}
